@using BedAndBreakfast.Data;
@{
    ViewData["Title"] = "DisplayPage";
    HelpPage helpPage = (HelpPage)ViewData["helpPage"];
}


<div style="text-align:center;">
    <div class="view-box-01">
        <p class="indent-01 text-segue-18">Display help</p>
        <hr />

        @*
            This line of code is responsible for injecting HTML code of different file.
        *@
        <div>
            <partial name="SearchPartial" />
        </div>
        <div style="clear:both;"></div>
        @*
            Here is displayed help page specified by user.
        *@

        <div class="text-segue-18">
            @helpPage.Title
        </div>
        <hr />
        <div class="text-segue-16 text-box">
            @helpPage.Content
        </div>
    </div>
</div>