@using BedAndBreakfast.Data;

@{
    bool isLocked = false;
    string query = string.Empty;
    if (ViewData["isLocked"] != null)
    {
        isLocked = (bool)ViewData["isLocked"];
    }
    if (ViewData["query"] != null)
    {
        query = (string)ViewData["query"];
    }
}


<form asp-action="Search">
        <input class="input-box-01 text-segue-16" placeholder="e.g. How to make a resevation?" id="searchbar_help" type="search" name="query" value="@query" />

        @if (User.IsInRole(Role.Admin))
        {
            <p class="indent-01 text-segue-16">
                Display locked pages
                <input type="checkbox" name="isLocked" value="true" checked="@isLocked" />
            </p>
        }
        else
        {
            <input type="hidden" name="isLocked" value="false" />
        }
        <button class="button-02 text-segue-14">Search</button>
</form>








