
@*
    This form redirects to search action in help controller which returns
    help pages based on search query.
*@
<form asp-action="Search">
    <div>
        <input type="search" name="query" />
        <button>Search</button>
    </div>

</form>





