
@{
    ViewData["Title"] = "ContactsForm";
}

<h2>ContactsForm</h2>

<div>
	<div>
		<a href="#" onclick="" >Add item</a> 
	</div>
	<div id="contacts"></div>
	<div>
		<a href="#" onclick="">Save</a>
	</div>

</div>

