@model BedAndBreakfast.Models.AnnouncementContactViewModel
@using BedAndBreakfast.Data;
@{
	ViewData["Title"] = "ContactInformation";
	List<string> contactTypes = Enum.GetNames(typeof(ListedDbValues.ContactType)).ToList();

}

<h2>ContactInformation</h2>


<script type="text/javascript">
	var rowCount = 0;
	var rows = [];
	var itemContainerName = "contacts";

	function addItem() {
		$('#' + itemContainerName).append('<div id="row' + rowCount + '">' +
			'<select id="value' + rowCount + '" name="' + itemContainerName +'">' +
			'@foreach (string contactType in contactTypes) {<option>@contactType</option>}' +
			'</select>' +
			'<input type="text" id="key' + rowCount + '" />' +
			'<input type="button" id="button' + rowCount + '" value="Remove" onclick="return removeItem(' + rowCount + ');" />' +
			'</div>');
		rows[rowCount] = true;
		rowCount++;
	}

	function removeItem(rowNumber) {
		$('#key' + rowNumber).remove();
		$('#value' + rowNumber).remove();
		$('#button' + rowNumber).remove();
		$('#row' + rowNumber).remove();
		rows[rowNumber] = false;
	}

	function sendToAction() {
		var count = 0;

		// Note that key is unique contact type e.g. email address.

		for (var i = 0; i < rows.length; i++) {
			if (rows[i] == true) {
				$('#form').append(
					'<input type="hidden" name="AdditionalContacts[' + count + '].Key" value="' + $('#key' + i).val() + '"/>' +
					'<input type="hidden" name="AdditionalContacts[' + count + '].Value" value="' + $('#value' + i).val() + '"/>');
				count++;
			}
		}
		// Add hidden form submit button and click it.
		$('#form').append('<input type="submit" id="submitButton" style="display: none;"/>');
		$('#submitButton').click();
	}
</script>

<div>
	<input type="button" value="Add contact" onclick="return addItem();" />
</div>

@*Dummy container for generated fields.*@
<div id="contacts"></div>
<div>
	<input type="button" value="Continue" onclick="return sendToAction();" />
</div>
@*Dummy container for generated form*@
<form asp-controller="Hosting" asp-action="SetAnnouncementContact" id="form"></form>






