@model CreateAnnouncementViewModel
@{
	ViewData["Title"] = "DescriptionForm";
}

<h2>DescriptionForm</h2>

<div>
	<textarea id="descriptionField" rows="20" cols="50">@Model.Description</textarea>
</div>
<div>
	<a href="#" onclick="setDescription();">Save</a>
</div>


