@model BedAndBreakfast.Models.AnnouncementDescriptionViewModel
@{
    ViewData["Title"] = "GeneralDescription";
}

<h2>GeneralDescription</h2>

<form asp-controller="Hosting" asp-action="SetAnnouncementDescription">
	<div>
		<label asp-for="Description"></label>
		@Html.TextArea("Description", new { rows = 25, cols = 50 })
		<span asp-validation-for="Description"></span>
	</div>
	<div>
		<input type="submit" value="Continue" />
	</div>
</form>



