@model CreateAnnouncementViewModel
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "SaveAnnouncement";
}

<h2>SaveAnnouncement</h2>

<div>
    @if (Model.IsCorrect)
    {
        @:Your announcement has been saved and soon will be visible in out browser!
    }
    else
    {
        @:There are errors in your announcement. Would you like to fix it?
        <a href="#" onclick="return setPartialView(summaryPartialViewName);">Go back</a>
    }
</div>

