@using Microsoft.AspNetCore.Mvc.RazorPages;
@{
    ViewData["Title"] = "SaveAnnouncement";
    bool announcementCorrect = (bool)ViewData["announcementCorrect"];

}

<h2>SaveAnnouncement</h2>

<input id="announcementCorrect" type="hidden" value="@announcementCorrect.ToString()" />

<div>
    @if (announcementCorrect)
    {
        @:Your announcement has been saved and soon will be visible in out browser!
    }
    else
    {
        @:There are errors in your announcement. Would you like to fix it?
        <a href="#" onclick="return setPartialView(summaryPartialViewName);">Go back</a>
    }
</div>

