@model BedAndBreakfast.Models.AnnouncementTypeViewModel
@using BedAndBreakfast.Data;

@{
	ViewData["Title"] = "Type";
}

<h2>Type</h2>

@foreach (ListedDbValues.AnnouncementType announcement in Enum.GetValues(typeof(ListedDbValues.AnnouncementType)))
{
	<form asp-controller="Hosting" asp-action="SetAnnouncementType">
		<div>
			<input type="hidden" asp-for="Type" value="@announcement.ToString()" />
		</div>
		<div>
			<input type="submit" value="@announcement.ToString()" />
		</div>
	</form>
}




