@using BedAndBreakfast.Data;
@model EditAnnouncementViewModel
@{
	ViewData["Title"] = "TypeSelectionForm";
	List<string> types = Enum.GetNames(typeof(ListedDbValues.AnnouncementType)).ToList();
}

<h2>TypeSelectionForm</h2>


<div>
	@foreach (string type in types)
	{
		if (Model.Type == type)
		{
			// Selected should be somehow highlighted.
			<div style="background-color:yellow;" >
				<a href="#" onclick="setType('@type');">@type</a>
			</div>
		}
		else
		{
			<div>
				<a href="#" onclick="setType('@type');">@type</a>
			</div>
		}
	}
</div>

