@using BedAndBreakfast.Data;
@model EditAnnouncementViewModel
@{
    ViewData["Title"] = "TypeSelectionForm";
    Array types = Enum.GetValues(typeof(EnumeratedDbValues.AnnouncementType));
}

<h2>TypeSelectionForm</h2>


<div>
	@foreach (int enumValue in types)
	{
		if (Model.Type == enumValue)
		{
			// Selected should be somehow highlighted.
			<div style="background-color:yellow;" >
				<a href="#" onclick="setType(@enumValue);">@Enum.GetName(typeof(EnumeratedDbValues.AnnouncementType),enumValue)</a>
			</div>
		}
		else
		{
			<div>
                <a href="#" onclick="setType(@enumValue);">@Enum.GetName(typeof(EnumeratedDbValues.AnnouncementType),enumValue)</a>
			</div>
		}
	}
</div>

