<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BedAndBreakfast</title>
</head>
<body>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="SignIn">Sign In</a></li>
        </ul>
    </div>

    @RenderBody()

</body>
</html>
