@using BedAndBreakfast.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager
@inject AppDbContext context

@{
    User currentUser = await userManager.GetUserAsync(User);
    Profile userProfile = (currentUser != null) ? context.Profiles.Where(p => p.User == currentUser).FirstOrDefault() : null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BnB - Your dream vacation!</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />-->
    <!--Basic site scripts, jQuery validation library, HERE maps library-->
    <script src="~/js/site.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
    <script src="https://unpkg.com/@@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

</head>

<body>
    @*User identity*@
    @{
        <div class="text-segue-16 user-welcome-bar">
            @if (User.Identity.IsAuthenticated)
            {
                @if (userProfile != null)
                {
                    @:Hello @userProfile.FirstName, how are you today?
                }
                else
                {
                    @:Hello @currentUser?.UserName, how are you today?
                }
            }
            else {
                @:B&B - Your dream vacation!
            }
        </div>
    }

    <hr />

    <!-------------------------------------------------------------------------------------------->
    @*Navigation header*@
    <div class="menu-bar">
        @*Visible for everyone.*@
        <!--<a href="https://localhost:44318/">
            <img src="https://localhost:44318/images/logo.png" id="logo" />
        </a>-->
        <a asp-area="" asp-controller="Help" class="menu-bar-button text-segue-14 " asp-action="Browse">Help</a>
        <a asp-area="" asp-controller="Home" class="menu-bar-button text-segue-14 " asp-action="Index">Home</a>

        @*If user is not an administrator.*@
        @if (!User.IsInRole(Role.Admin))
        {
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Account" class="menu-bar-button text-segue-14 " asp-action="Login">Log In</a>
                <a asp-area="" asp-controller="Account" class="menu-bar-button text-segue-14 " asp-action="Create">Create Account</a>
            }
            else
            {
                <a asp-controller="Announcement" class="menu-bar-button text-segue-14 " asp-action="ManageAnnouncements">My announcements</a>
                <a asp-controller="Announcement" class="menu-bar-button text-segue-14 " asp-action="ShowReservations">My reservations</a>
                <a asp-controller="Message" class="menu-bar-button text-segue-14 " asp-action="ShowConversations">My conversations</a>
                <a asp-area="" asp-controller="Profile" class="menu-bar-button text-segue-14 " asp-action="Edit">Profile</a>
                <a asp-area="" asp-controller="Account" class="menu-bar-button text-segue-14 " asp-action="Edit">Account</a>
                <a asp-area="" asp-controller="Account" class="menu-bar-button text-segue-14 " asp-action="Logout">Log Out</a>
            }
        }

        @*If user is an administrator.*@
        else
        {
            <a asp-area="" asp-controller="Account" class="menu-bar-button text-segue-14 " asp-action="Logout">Log Out</a>
            <a asp-area="" asp-controller="Administration" class="menu-bar-button text-segue-14 " asp-action="FindUser">Find User</a>
            <a asp-controller="Administration" class="menu-bar-button text-segue-14 " asp-action="ManageConversations">Create conversation</a>
            <a asp-controller="Message" class="menu-bar-button text-segue-14 " asp-action="ShowConversations">My conversations</a>
        }
    </div>
    <span class="clear"></span>

    @RenderBody()

</body>
</html>
