@using BedAndBreakfast.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager
@inject AppDbContext context

@{
    User currentUser = await userManager.GetUserAsync(User);
    Profile userProfile = (currentUser != null) ? context.Profiles.Where(p => p.User == currentUser).FirstOrDefault() : null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BedAndBreakfast</title>
    @*Javascript files*@
    <script src="~/js/site.js"></script>
    @*Remote jQuery validation scripts.*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            setAnnouncementSearchField();
        }
    </script>
</head>
<body>
    @*User identity*@
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <p>
                    @if (userProfile != null)
                    {
                        @:Hello @userProfile.FirstName
                    }
                    else
                    {
                        @:Hello there!
                    }
                </p>
            </div>
            <hr />
        }
    }
    @*Announcement browser*@
    <div>
        <form asp-controller="Announcement" asp-action="Browse">
            <label>Find announcement:</label>
            <input id="ann-browser-qry-in-fld" type="text" name="annBrowserQuery" />
            <input id ="ann-browser-qry-button" type="submit" value="Find announcement"/>
        </form>
    </div>
    <hr />
    @*Navigation header*@
    <div>
        @*Visible for everyone.*@
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Help" asp-action="Browse">Help</a>
        @*If user is not an administrator.*@
        @if (!User.IsInRole(Role.Admin))
        {
            <a asp-controller="Announcement" asp-action="ShowReservations">My reservations</a>
            @if (currentUser == null || !currentUser.IsHost)
            {
                <a id="becomeHostTag" asp-area="" asp-controller="Announcement" asp-action="EditAnnouncement">Become a Host</a>
            }
            else
            {
                <a asp-area="" asp-controller="Announcement" asp-action="ListUserAnnouncements">Manage my announcements</a>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                <a asp-area="" asp-controller="Account" asp-action="Create">Create Account</a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                <a asp-area="" asp-controller="Profile" asp-action="Edit">Profile</a>
                <a asp-area="" asp-controller="Account" asp-action="Edit">Account</a>
            }
        }
        @*If user is an administrator.*@
        else
        {
            <a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
            <a asp-area="" asp-controller="Administration" asp-action="FindUser">Find User</a>
        }
    </div>
    <hr />

    @RenderBody()

</body>
</html>
