@using BedAndBreakfast.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager
@inject AppDbContext context

@{
    User currentUser = await userManager.GetUserAsync(User);
    Profile userProfile = (currentUser != null) ? context.Profiles.Where(p => p.User == currentUser).FirstOrDefault() : null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BnB - Your dream vacation!</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    @*Javascript files*@
    <script src="~/js/site.js"></script>
    @*Remote jQuery validation scripts.*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @*<script type="text/javascript">
        window.onload = function () {
            setAnnouncementSearchField();
        }
    </script>*@
</head>

<body>
    @*User identity*@
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="welcome-bar-container">
                <div class="welcome-bar">
                    @if (userProfile != null)
                    {
                        @:Hello @userProfile.FirstName, how are you today?
                    }
                    else
                    {
                        @:Hello @currentUser?.UserName, how are you today?
                    }
                </div>
            </div>
        }
    }

    <!-------------------------------------------------------------------------------------------->
    @*Navigation header*@
    <div id="header">
        <div id="nav">
            @*Visible for everyone.*@
            <a href="https://localhost:44318/">
                <img src="https://localhost:44318/images/logo.png" id="logo" />
            </a>
            <a asp-area="" asp-controller="Help" class="tilelink" asp-action="Browse">Help</a>
            <a asp-area="" asp-controller="Home" class="tilelink" asp-action="Index">Home</a>

            @*If user is not an administrator.*@
            @if (!User.IsInRole(Role.Admin))
            {
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-area="" asp-controller="Account" class="tilelink" asp-action="Login">Log In</a>
                    <a asp-area="" asp-controller="Account" class="tilelink" asp-action="Create">Create Account</a>
                }
                else
                {
                    <a asp-controller="Announcement" class="tilelink" asp-action="ManageAnnouncements">My announcements</a>
                    <a asp-controller="Announcement" class="tilelink" asp-action="ShowReservations">My reservations</a>
                    <a asp-controller="Message" class="tilelink" asp-action="ShowConversations">My conversations</a>
                    <a asp-area="" asp-controller="Profile" class="tilelink" asp-action="Edit">Profile</a>
                    <a asp-area="" asp-controller="Account" class="tilelink" asp-action="Edit">Account</a>
                    <a asp-area="" asp-controller="Account" class="tilelink" asp-action="Logout">Log Out</a>
                }
            }

            @*If user is an administrator.*@
            else
            {
                <a asp-area="" asp-controller="Account" class="tilelink" asp-action="Logout">Log Out</a>
                <a asp-area="" asp-controller="Administration" class="tilelink" asp-action="FindUser">Find User</a>
                <a asp-controller="Administration" class="tilelink" asp-action="ManageConversations">Create conversation</a>
                <a asp-controller="Message" class="tilelink" asp-action="ShowConversations">My conversations</a>
            }

        </div>
    </div>

    @RenderBody()

</body>
</html>

<!--

    @*Announcement browser*@
<div>
    <form asp-controller="Announcement" asp-action="Browse">
        <label>Find announcement:</label>
        <input id="ann-browser-qry-in-fld" type="text" name="annBrowserQuery" />
        <input id="ann-browser-qry-button" type="submit" value="Find announcement" />
    </form>
</div>
    -->
