
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BedAndBreakfast</title>
</head>
<body>

    @{
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <p>
                    Hello @User.Identity.Name!
                </p>
            </div>
            <hr />
        }
    }

            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                    <a asp-area="" asp-controller="Account" asp-action="Create">Create Account</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                }



            </div>
    <hr />

    @RenderBody()

</body>
</html>
