body {
    margin: 0px;
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
}

#header
{
	position: relative;
	width: 100%;
	height: 600px;
	
	/*background-size: 100%;*/
}

#nav
{
	position: absolute;
	width: 100%;
	height: 50px;
	/*background-color: red;*/
}

#logo
{	
	width: 80px;
	height: 80px;
	margin-top: 15px;
	margin-left: 15px;	 
}

.tilelink
	{
		color: #ffffff;
		text-decoration: none;
		font-family: sans-serif;		
		float: right;
		margin: 20px;
		padding: 8px;
		/*border: 1px solid white;
		border-radius: 3px;
		padding: 10px;*/
	}
	
.tilelink:hover
{
	border-bottom: 1px solid white;
	padding-bottom: 30px;
}

#searchbar_div
{
	position: relative;
	width: 700px;
	height: 380px;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 10px;
	left: 8%;
	top: 40%;
}

#hello_text
{	
	position: absolute;
	width: 100%;
	height: 100px;
	
	font-family: 'Lato', sans-serif;
	font-size: 70px;
	color: white;
	text-shadow: 5px 5px 10px black;
	
	top:10%;
	text-align: center;
}

#under_text
{	
	position: absolute;
	width: 100%;
	height: 20px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
	margin-top: 20%;
}

#where_div
{
	position: relative;
	width: 630px;
	height: 90px;
	top: 60%;	
	left: 5%;
}

#searchbar
{
	position: absolute;
	width: 630px;
	height: 45px;
	background-color: white;
	border-radius: 2px;
}

#where_text
{
	color: grey;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin-left: 15px;
}

#search_button
{
	position: absolute;
	width: 130px;
	height: 45px;
	background-color: rgb(94, 102, 255);
	float: right;
	border-radius: 2px;
	bottom: 0px;
	right: 0px;
}

#search_button:hover
{
	background-color: #4d55ee;
}

#font_icon
{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	display: block;
	width: 120px;
	height: 45px;
}












