
@{
    ViewData["Title"] = "UnderConstruction";
}

<h2>Under Construction!</h2>

This page is under construction what means it's not finished yet and there is nothing to see at all :)
<p>
    <pre>
                                            ____                                    
 ___                                      .-~    '.
`-._~-.                                  / /  ~$\   )
     \  \                               | /  \~\.  `\          ______________
     ]  |                              /  |  |< ~\(..)       _/              \
    /   !                        _.--~T   \  \<   .,,      _/     GO BACK     |
   /   /                 ____.--~ .    _  /~\ \< /        <_    PUNY HUMAN    |
  /   /             .-~~'        /|   /o\ /-~\ \_|          \_     SHOO!      |   
 /   /             /     )      |o|  / /|o/_   '--'           \______________/
/   /           .-'(     l__   _j \_/ / /\|~    .
/    l          /    \       ~~~|    `/ / / \.__/l_
|     \     _.-'      ~-\__     l      /_/~-.___.--~
|      ~---~           /   ~~'---\_    __[o,
l  .                _.    ___     _>-/~
\  \     .      .-~   .-~   ~>--'  /
 \  ~---'            /         _.-'
  '-.,_____.,_  _.--~\     _.-~
              ~~     (   _}
                     `. ~(
                       )  \
                 /,`--'~\--'~\
    </pre>
</p>