@model BedAndBreakfast.Models.EditPrivacyViewModel
@using BedAndBreakfast.Data;

@{
    ViewData["Title"] = "Privacy";
    PrivacySetting privacySettings = (PrivacySetting)ViewData["privacySettings"];
}


<p class="indent-01 text-segue-18">Privacy</p>
<hr />

<form asp-action="EditPrivacy">

        <table>
            <tr>
                <td>
                    <label asp-for="ShowProfileToFriends" class="label-box-04 text-segue-16"></label>
                    <input asp-for="ShowProfileToFriends" value="true" checked="@privacySettings.ShowProfileToFriends" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="ShowProfileToWorld" class="label-box-04 text-segue-16"></label>
                    <input asp-for="ShowProfileToWorld" value="true" checked="@privacySettings.ShowProfileToWorld" />
                </td>
            </tr>
        </table>


            <input type="submit" value="Save" class="button-01" />

</form>
