@model BedAndBreakfast.Models.EditPrivacyViewModel
@using BedAndBreakfast.Data;

@{
    ViewData["Title"] = "Privacy";
    PrivacySetting privacySettings = (PrivacySetting)ViewData["privacySettings"];
}

<div class="edit_small_head">Privacy</div>

<form asp-action="EditPrivacy">
    <div>
        <label asp-for="ShowProfileToFriends"></label>
        <input asp-for="ShowProfileToFriends" value="true" checked="@privacySettings.ShowProfileToFriends" />
    </div>
    <div>
        <label asp-for="ShowProfileToWorld"></label>
        <input asp-for="ShowProfileToWorld" value="true" checked="@privacySettings.ShowProfileToWorld" />
    </div>
    <div class="edit_box_pr">
        <input type="submit" value="Save" class="my_button" id="save_button" />
    </div>
</form>
