@model BedAndBreakfast.Models.EditPrivacyViewModel
@using BedAndBreakfast.Data;

@{
    ViewData["Title"] = "Privacy";
    PrivacySetting privacySettings = (PrivacySetting)ViewData["privacySettings"];
}

<div class="edit_small_head">Privacy</div>
<form asp-action="EditPrivacy">
    <div>
        <div class="edit_box">
            <div>
                <label asp-for="ShowProfileToFriends" class="edit_box_bar"></label>
                <input asp-for="ShowProfileToFriends" value="true" checked="@privacySettings.ShowProfileToFriends" />
            </div>
            <div>
                <label asp-for="ShowProfileToWorld" class="edit_box_bar"></label>
                <input asp-for="ShowProfileToWorld" value="true" checked="@privacySettings.ShowProfileToWorld" />
            </div>

        </div>
        <div class="edit_box_pr">
            <div class="save_button">
                <input type="submit" value="Save" class="my_button" />
            </div>
        </div>
        </div>
</form>
