@model BedAndBreakfast.Models.EditSecurityViewModel

@{
    ViewData["Title"] = "Security";
}




<div>
    <p class="indent-01 text-segue-18">Security</p>
    <hr />
    <form asp-action="EditSecurity">
        <div class="">
            <table class="">
                <tr>
                    <td><label asp-for="CurrentPassword" class="label-box-01 text-segue-16"></label></td>
                    <td><input asp-for="CurrentPassword" class="input-box-01 text-segue-16" /></td>
                    <td><span asp-validation-for="CurrentPassword" class="label-box-02 text-segue-16"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="NewPassword" class="label-box-01 text-segue-16"></label></td>
                    <td><input asp-for="NewPassword" class="input-box-01 text-segue-16" /></td>
                    <td><span asp-validation-for="NewPassword" class="label-box-02 text-segue-16"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="RepeatNewPassword" class="label-box-01 text-segue-16"></label></td>
                    <td><input asp-for="RepeatNewPassword" class="input-box-01 text-segue-16" /></td>
                    <td><span asp-validation-for="RepeatNewPassword" class="label-box-02 text-segue-16"></span></td>
                </tr>
            </table>
        </div>

        <input type="submit" value="Change" class="button-01" />


    </form>
</div>