@using BedAndBreakfast.Data;

@{
	List<string> contacts = Enum.GetNames(typeof(ListedDbValues.ContactType)).ToList();
	List<string> payments = Enum.GetNames(typeof(ListedDbValues.PaymentMethod)).ToList();

	ViewData["Title"] = "CreateAnnouncement";
}

<h2>CreateAnnouncement</h2>

<script type="text/javascript">

	function getContactMethods() {
		var contacts = @Html.Raw(Json.Serialize(contacts));
		return contacts;
	}

	function getPaymentMethods() {
		var payments = @Html.Raw(Json.Serialize(payments));
		return payments;
	}

	var contactItemIndex = { value: 0, name: 'contactItemIndex', items: [] };
	var paymentItemIndex = { value: 0, name: 'paymentItemIndex', items: [] };


	var typePartialViewName = 'TypeForm';
	var subtypePartialViewName = 'SubtypeForm';
	var timePlacePartialViewName = 'TimePlaceForm';
	var descriptionPartialViewName = 'DescriptionForm';
	var contactPartialViewName = 'ContactsForm';
	var paymentPartialViewName = 'PaymentsForm';
	var summaryPartialViewName = 'Summary';

	var validViews = {};
	validViews[typePartialViewName] = false;
	validViews[subtypePartialViewName] = false;
	validViews[timePlacePartialViewName] = false;
	validViews[descriptionPartialViewName] = false;
	validViews[contactPartialViewName] = false;
	validViews[paymentPartialViewName] = false;

	window.onload = function () {
		deleteCurrentModel();
		setPartialView('TypeSelectionForm');
		createNewModel();
	}
	
	
</script>

<div id="header">
	<div id="TypeForm">
		<a href="#" onclick="return setPartialView(typePartialViewName);">Type</a>
	</div>
	<div id="SubtypeForm">
		<a href="#" onclick="return setPartialView(subtypePartialViewName);">Subtype</a>
	</div>
	<div id="TimePlaceForm">
		<a href="#" onclick="return setPartialView(timePlacePartialViewName);">Time and place</a>
	</div>
	<div id="DescriptionForm">
		<a href="#" onclick="return setPartialView(descriptionPartialViewName);">Description</a>
	</div>
	<div id="ContactsForm">
		<a href="#" onclick="return setPartialView(contactPartialViewName);">Contact types</a>
	</div>
	<div id="PaymentsForm">
		<a href="#" onclick="return setPartialView(paymentPartialViewName);">Payment methods</a>
	</div>
	<div id="Summary">
		<a href="#" onclick="return setPartialView(summaryPartialViewName);">Summary</a>
	</div>
</div>
<div id="errorMessage"></div>
<div id="content">

</div>

