@{
	ViewData["Title"] = "PublishPlace";

	string announcementSection = (string)ViewData["announcementSection"];

}

<h2>PublishPlace</h2>

@if (announcementSection == null)
{
	<partial name="PartialViews/TypeSelection" view-data="ViewData" />
}
else
{
	<partial name="PartialViews/@announcementSection" view-data="ViewData" />
}






