@model EditAnnouncementViewModel
@{
	ViewData["Title"] = "DescriptionForm";
}

<div id="edit_ann_type_cont">
    <div id="edit_head_text" style="margin-top: 20px; margin-bottom: 20px">Description</div>

    <div>
        <textarea id="descriptionField" rows="20" cols="50">@Model.Description</textarea>
    </div>
    <div id="save_button_ann">
        <a href="#" class="edit_button_ann_text" onclick="setDescription();">Save</a>
    </div>
    <div style="clear:both;"></div>
</div>

