
@{
    ViewData["Title"] = "PaymentsForm";
}


<div id="edit_ann_type_cont">
    <div id="edit_head_text" style="margin-top: 20px; margin-bottom: 20px">Payment methods</div>
    <div class="edit_ann_bar_con">
        <a href="#" class="edit_ann_text" onclick="addItem(paymentItemIndex, 'payments', getPaymentMethods(), null, '');">Add item</a>
    </div>
    <div id="payments"></div>
    <div id="save_button_ann">
        <a href="#" class="edit_button_ann_text" onclick="savePayments(paymentItemIndex)">Save</a>
    </div>
    <div style="clear:both;"></div>
</div>