
@{
    ViewData["Title"] = "PaymentsForm";
}

<h2>PaymentsForm</h2>

<div>
	<div>
		<a href="#" onclick="addItem(paymentItemIndex, 'payments', getPaymentMethods(), null, '');">Add item</a>
	</div>
	<div id="payments"></div>
	<div>
		<a href="#" onclick="savePayments(paymentItemIndex)">Save</a>
	</div>
</div>