@model EditAnnouncementViewModel
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "SaveAnnouncement";
}

<div>
    <div id="edit_head_text" style="margin-top: 20px; margin-bottom: 20px">Save Announcement</div>

    @if (Model.IsCorrect)
    {
        @:Your announcement has been saved and soon will be visible in out browser!
    }
    else
    {
        @:There are errors in your announcement. Would you like to fix it?
        <a href="#" onclick="return setPartialView(summaryPartialViewName);">Go back</a>
    }
</div>

