@using BedAndBreakfast.Data;
@model EditAnnouncementViewModel
@{
    ViewData["Title"] = "TypeSelectionForm";
    Array types = Enum.GetValues(typeof(EnumeratedDbValues.AnnouncementType));
}



<div id="edit_ann_type_cont">
    <div id="edit_head_text" style="margin-top: 20px; margin-bottom: 20px">Select type</div>
    <div>
        @foreach (int enumValue in types)
        {
            if (Model.Type == enumValue)
            {
                // Selected should be somehow highlighted.
                <div class="edit_ann_bar_type" style="background-color:yellow;">
                    <a href="#" class="edit_ann_text" onclick="setType(@enumValue);">@Enum.GetName(typeof(EnumeratedDbValues.AnnouncementType), enumValue)</a>
                </div>
            }
            else
            {
                <div class="edit_ann_bar_type">
                    <a href="#" class="edit_ann_text" onclick="setType(@enumValue);">@Enum.GetName(typeof(EnumeratedDbValues.AnnouncementType), enumValue)</a>
                </div>
            }
        }
    </div>
    <div style="clear:both;"></div>
</div>

