
@{
    ViewData["Title"] = "ShowConversations";
}

<div id="edit_ann_div">
    <div id="edit_head_text">Your conversations</div>

    <script type="text/javascript" src="~/js/showConversations.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            getConversations();
        }
    </script>

    <div id="message-container"></div>
    <div id="show-conversations-view-container"></div>
    <div class="space_30"></div>
</div>