
@{
    ViewData["Title"] = "ShowConversations";
}

<h2>ShowConversations</h2>

<script type="text/javascript" src="~/js/showConversations.js"></script>
<script type="text/javascript">
    window.onload = function () {
        getConversations();
    }
</script>

<div id="message-container"></div>
<div id="show-conversations-view-container"></div>