
@{
    ViewData["Title"] = "ShowConversations";
}


   
    <script type="text/javascript" src="~/js/showConversations.js"></script>
    <script type="text/javascript" src="~/js/messageSystem.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            handleCurrentHiddenConversationButton(false);
        }
    </script>
    <div id="edit_ann_list">
        <div id="edit_head_text">My conversations</div>
        <div id="navigation-bar">
            <button class="my_button_c" id="conv_button" onclick="handleCurrentHiddenConversationButton(false);">Current conversations</button>
            <button class="my_button_c" id="conv_button" onclick="handleCurrentHiddenConversationButton(true);">Hidden conversations</button>
        </div>
        <div style="clear:both;"></div>
        <div id="message-container"></div>
        <div id="show-conversations-view-container" style="height: 500px; margin-bottom: 10px; margin-top: 10px; margin-left:20px; overflow-x:hidden; overflow-y:visible;"></div>
        <div id="message-creator-container"></div>
        <div class="space_30"></div>
    </div>
