
@{
    ViewData["Title"] = "ShowConversations";
}


<script type="text/javascript" src="~/js/showConversations.js"></script>
<script type="text/javascript" src="~/js/messageSystem.js"></script>
<script type="text/javascript">
    window.onload = function () {
        handleCurrentHiddenConversationButton(false);
    }
</script>

<div style="text-align:center;">
    <div class="view-box-03">
        <p class="indent-01 text-segue-18">My conversations</p>
        <hr />
        <div id="navigation-bar">
            <a class="button-04 text-segue-14" href="#" onclick="handleCurrentHiddenConversationButton(false);">Current conversations</a>
            <a class="button-04 text-segue-14" href="#" onclick="handleCurrentHiddenConversationButton(true);">Hidden conversations</a>
        </div>
        <div style="clear:both;"></div>

        <div class="text-segue-16 error-span-label-box-01" id="message-container"></div>
        <div class="conversations-container-style text-segue-16" id="show-conversations-view-container"></div>
        <div id="message-creator-container"></div>

    </div>
</div>
