@model BedAndBreakfast.Models.BrowseViewModel
@using BedAndBreakfast.Data;
@{
    ViewData["Title"] = "BrowseAnnouncements";
}



<script type="text/javascript" src="~/js/messageSystem.js"></script>
<script type="text/javascript" src="~/js/browseAnnouncements.js"></script>
<script type="text/javascript">
    window.onload = function () {
    }
</script>

<!--Sorting and filtering options header-->
<div>

</div>

<div id="global-message-container"></div>
<!--Scrollable container with announcement previews-->
<div>
    <table id="announcements-preview-table">
        <tr id="announcement-preview-prototype">
            <td></td>
        </tr>
    </table>
</div>
<!--Static map container-->
<div>
    <div id="map">

    </div>
</div>

