
@{
    ViewData["Title"] = "DailyTimetablePartialView";
}

<div>
    Announcement timetable:
</div>
<div>
    <table border="1">
        <tr>
            <td rowspan="2">
                <button>Previous week</button>
            </td>
            <td id="timetable-day-0"></td>
            <td id="timetable-day-1"></td>
            <td id="timetable-day-2"></td>
            <td id="timetable-day-3"></td>
            <td id="timetable-day-4"></td>
            <td id="timetable-day-5"></td>
            <td id="timetable-day-6"></td>
            <td rowspan="2">
                <button>Next week</button>
            </td>
        </tr>
        <tr>
            <td id="timetable-day-0-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-1-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-2-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-3-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-4-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-5-reservations">
                <div></div>
                <button>Details</button>
            </td>
            <td id="timetable-day-6-reservations">
                <div></div>
                <button>Details</button>
            </td>
        </tr>
    </table>
</div>

<div>
    Reservation details:
</div>

<div>
    
</div>

