
@{
    ViewData["Title"] = "DailyTimetablePartialView";
}

<table class="table-box-03 text-segue-16">
    <tr>
        <td rowspan="2">
            <button class="text-segue-14 button-07" onclick="handlePreviousWeekButton();"><</button>
        </td>
        <td><div class="indent-05" id="timetable-day-date-0"></div></td>
        <td><div class="indent-05" id="timetable-day-date-1"></div></td>
        <td><div class="indent-05" id="timetable-day-date-2"></div></td>
        <td><div class="indent-05" id="timetable-day-date-3"></div></td>
        <td><div class="indent-05" id="timetable-day-date-4"></div></td>
        <td><div class="indent-05" id="timetable-day-date-5"></div></td>
        <td><div class="indent-05" id="timetable-day-date-6"></div></td>
        <td rowspan="2">
            <button class="text-segue-14 button-07" onclick="handleNexWeekButton();">></button>
        </td>
    </tr>
    <tr>
        <td class="table-box-cell-05">
            <div class="indent-06" id="timetable-reservations-0"></div>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(0);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-1"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(1);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-2"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(2);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-3"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(3);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-4"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(4);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-5"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(5);">Details</button>
        </td>
        <td class="table-box-cell-05">
            <p class="indent-06" id="timetable-reservations-6"></p>
            <button class="button-08 text-segue-14" onclick="handleDetailsButton(6);">Details</button>
        </td>
    </tr>
</table>

<table class="text-segue-16 table-02" id="details-items-container">
    <tr class="table-box-row-03" id="details-item-prototype" hidden>
        <td class="table-box-cell-07">
            <label>Username: </label>
            <div class="details-item-username"></div>
        </td>
        <td>
            <label>First name: </label>
            <div class="details-item-first-name"></div>
        </td>
        <td>
            <label>Last name: </label>
            <div class="details-item-last-name"></div>
        </td>
        <td>
            <label>Reservations: </label>
            <input class="input-box-03 text-segue-16" type="text" />
        </td>
        <td>
            <button class="button-05 text-segue-14" onclick="handleReservationsUpdate();">Update</button>
        </td>
        <td>
            <span class="error-span-label-box-01 text-segue-16"></span>
        </td>
    </tr>
</table>
<div class="error-span-label-box-01 text-segue-16" id="details-message-container">
    Click one of timetable buttons to display details.
</div>