
@{
    ViewData["Title"] = "HourlyTimetablePartialView";
}


<table class="table-box-03 text-segue-16">
    <tr>
        <td rowspan="2"><button class="button-07 text-segue-14" onclick="handlePreviousDayButton();"><</button></td>
        <td>
            <div class="indent-05" id="hourly-timetable-day-container"></div>
        </td>
        <td rowspan="2"><button class="button-07 text-segue-14" onclick="handleNextDayButton();">></button></td>
    </tr>
    <tr>
        <td>
            <table class="table-box-04" id="hourly-timetable-schedule-item-container">
                <tr id="hourly-timetable-schedule-item-prototype" hidden>
                    <td><p class="hourly-timetable-schedule-item-from"></p></td>
                    <td><p class="hourly-timetable-schedule-item-to"></p></td>
                    <td><p class="hourly-timetable-schedule-item-reservations"></p></td>
                    <td><button class="text-segue-14 button-08" onclick="handleDetailsButton();">Details</button></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="text-segue-16 table-02" id="details-items-container">
    <tr class="table-box-row-03" id="details-item-prototype" hidden>
        <td class="table-box-cell-07">
            <label>Username: </label>
            <div class="details-item-username"></div>
        </td>
        <td>
            <label>First name: </label>
            <div class="details-item-first-name"></div>
        </td>
        <td>
            <label>Last name: </label>
            <div class="details-item-last-name"></div>
        </td>
        <td>
            <label>Reservations: </label>
            <input class="input-box-03 text-segue-16" type="text" />
        </td>
        <td>
            <button class="button-05 text-segue-14" onclick="handleReservationsUpdate();">Update</button>
        </td>
        <td>
            <span class="error-span-label-box-01 text-segue-16"></span>
        </td>
    </tr>
</table>
<div class="error-span-label-box-01 text-segue-16" id="details-message-container">
    Click one of timetable buttons to display details.
</div>