@model BedAndBreakfast.Models.CreateAccountViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>@ViewBag.Message</h4>

<div id="create_div">
    <form asp-controller="Create" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="create_acc_text">Create account</div>
        <div class="form-group">
            <label asp-for="EmailAddress" class="create_text"></label>
            <input asp-for="EmailAddress" class="create_bar" />
            <span asp-validation-for="EmailAddress" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="create_text"></label>
            <input asp-for="FirstName" class="create_bar" />
            <span asp-validation-for="FirstName" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="create_text"></label>
            <input asp-for="LastName" class="create_bar" />
            <span asp-validation-for="LastName" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="create_text"></label>
            <input asp-for="Password" class="create_bar" />
            <span asp-validation-for="Password" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="create_text"></label>
            <input asp-for="BirthDate" class="create_bar" />
            <span asp-validation-for="BirthDate" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group" id="create_button">
            <input type="submit" value="" id="button" />
            <div style="clear:both;"></div>
        </div>
        </form>
</div>





