
@{
    ViewData["Title"] = "Edit";

    // This variable represents edit option.
    // It will be null if no option selected.
    string option = (string)ViewData["option"];
}


<div style="text-align: center;">
    <div class="view-box-01">
        <p class="indent-01 text-segue-18">Account settings</p>
        <hr />
        <div class="">
            <a asp-action="Edit" class="button-04 text-segue-14" asp-route-option="Notifications">Notifications</a>
            <a asp-action="Edit" class="button-04 text-segue-14" asp-route-option="Privacy">Privacy</a>
            <a asp-action="Edit" class="button-04 text-segue-14" asp-route-option="Security">Security</a>
        </div>
        <div style="clear:both;"></div>

        @if (option != null)
        {
            <partial name="EditOptions/@option" view-data="ViewData" />
        }
        else
        {
            <partial name="EditOptions/Notifications" view-data="ViewData" />
        }

        <h4>@ViewBag.Message</h4>

    </div>
</div>
