
@{
    ViewData["Title"] = "Locked";
}

<div id="edit_div">
    <div id="edit_head_text">Locked</div>

    <div>This account is locked - contact customer service for further information. </div>

</div>
