@model BedAndBreakfast.Models.LogInViewModel

@{
    ViewData["Title"] = "Login";
}

<div style="text-align:center;">
    <div class="view-box-01">
        <form asp-action="Login">
            <p class="indent-01 text-segue-18">Login</p>
            <hr />
            <table>
                <tr>
                    <td><label asp-for="Login" class="label-box-01 text-segue-16"></label></td>
                    <td><input asp-for="Login" class="input-box-01 text-segue-16" placeholder="dream@vacation.com" /></td>
                    <td><span asp-validation-for="Login" class="label-box-02 text-segue-16"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password" class="label-box-01 text-segue-16"></label></td>
                    <td><input asp-for="Password" class="input-box-01 text-segue-16" /></td>
                    <td><span asp-validation-for="Password" class="label-box-02 text-segue-16"></span></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="label-box-02 text-segue-18">@ViewBag.Message</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Login" class="button-01" />
        </form>
    </div>
</div>
