@model BedAndBreakfast.Models.LogInViewModel

@{
    ViewData["Title"] = "Login";
}
<div id="login_div">
    <form asp-action="Login">
        <div style="clear:both;"></div>
        <div class="edit_small_head">Login</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Login" class="edit_box_bar1"></label>
            <input asp-for="Login" class="edit_box_bar2" />
            <span asp-validation-for="Login" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="edit_box_bar1"></label>
            <input asp-for="Password" class="edit_box_bar2" />
            <span asp-validation-for="Password" class="create_text_danger"></span>
            <div style="clear:both;"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="my_button" id="save_button" />
            <div style="clear:both;"></div>
        </div>
    </form>
    <div class="create_text_danger"><b>@ViewBag.Message</b></div>
</div>