
body {
}

td {
    padding: 5px;
}

.a-link-01 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 600;
}

    .a-link-01:visited {
        color: rgb(120, 120, 120);
    }

.text-segue-16 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.text-segue-14 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.text-segue-18 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    text-decoration: none;
}

hr {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-top: 1px solid rgb(255, 70, 50);
}

.user-welcome-bar {
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    padding: 18px;
    margin: 8px;
    width: calc(100% - 18px);
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

.menu-bar {
    display: inline-block;
    background-color: white;
    height: 60px;
    margin: 8px;
    width: calc(100% - 18px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.menu-bar-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    float: right;
    width: 150px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 70, 50);
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 18px;
}

    .menu-bar-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
    }


.indent-01 {
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.indent-02 {
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.indent-03 {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
}

.indent-04 {
    margin: 0;
    padding: 5px;
    text-align: justify;
}

.indent-05 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    background-color: rgba(255, 70, 50, 0.66);
    color: white;
    font-weight: 500;
    margin: 5px;
    border-bottom: 2px solid rgba(255, 70, 50, 1);
}

.indent-05-disabled {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.25);
    color: rgb(100,100,100);
    font-weight: 500;
    margin: 5px;
    border-bottom: 2px solid rgba(255, 70, 50, 1);
}

.indent-06 {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 70, 50, 1);
}

.indent-07 {
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 70, 50, 1);
}


.button-01 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 150px;
    margin: 40px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
}

    .button-01:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-02 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 40px;
    float: right;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
}

    .button-02:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-03 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    box-sizing: border-box;
    display: block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
}

    .button-03:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-04 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    box-sizing: border-box;
    padding-top: 18px;
    display: block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    float: right;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
}

    .button-04:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-05 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 120px;
    float: right;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
    margin: auto;
}

    .button-05:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-06 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    border-radius: 4px;
}

    .button-06:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-07 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    border-radius: 2px;
    font-size: 30px;
    padding-bottom: 5px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
}

    .button-07:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-08 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: calc(100% - 10px);
    margin: 5px;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    border-radius: 2px;
}

    .button-08:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

    .button-08:disabled {
        cursor: default;
        background-color: rgba(100, 100, 100, 0.25);
        color: rgb(100,100,100);
    }

.button-09 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    float: right;
    margin-top: -10px;
    width: 150px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
}

    .button-09:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.button-10 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    float: right;
    margin: 10px;
    width: 150px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: white;
}

    .button-10:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

    .button-10:visited {
        outline: none;
    }

.button-11 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    padding: 15px;
    padding-top: 8px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    background-color: white;
}

    .button-11:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }


.button-12 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: inline-block;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;

}

    .button-12:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

    .button-12:disabled {
        cursor: default;
        background-color: rgba(100, 100, 100, 0.25);
        color: rgb(100,100,100);
    }

.browser-box {
    left: 200px;
    top: 100px;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 500px;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    padding: 40px;
    height: 300px;
    border-radius: 4px;
}

.input-box-01 {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

    .input-box-01:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.input-box-02 {
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

    .input-box-02:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.input-box-03 {
    box-sizing: border-box;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

    .input-box-03:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.input-box-04 {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 45px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

    .input-box-04:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.view-box-01 {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    /*margin-right: 400px;
    margin-left: 400px;*/
    margin-top: 40px;
    padding-bottom: 100px;
    display: inline-block;
    width: calc(100% - 800px);
    min-width: 700px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    border-radius: 4px;
}

.view-box-02 {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
    padding-bottom: 100px;
    display: inline-block;
    width: calc(100% - 200px);
    min-width: 1000px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    border-radius: 4px;
}

.view-box-03 {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
    padding-bottom: 100px;
    display: inline-block;
    width: calc(100% - 400px);
    max-width: 1400px;
    min-width: 1150px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    border-radius: 4px;
}


.label-box-01 {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
}

.label-box-02 {
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    padding-top: 0px;
    height: auto;
    color: rgba(255, 70, 50, 1);
    font-weight: 500;
    width: 100%;
}

.label-box-03 {
    box-sizing: border-box;
    padding-top: 5px;
    height: 35px;
    background-color: rgba(255, 70, 50, 0.75);
    color: white;
}

.label-box-04 {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
}

.label-box-05 {
    margin-left: 20px;
    margin-right: 5px;
}

.label-box-06 {
    display: inline-block;
    width: 90px;
}

.label-box-07 {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
}

.label-box-08 {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

.label-box-09 {
    display: inline-block;
    width: auto;
    margin: 10px;
}

.label-box-10 {
    text-align: left;
    display: block;
    width: 80px;
    margin: 10px;
    margin-left: 0px;
}

.label-box-11 {
    box-sizing: border-box;
    display: block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 70, 50);
    background-color: rgba(100, 100, 100, 0.25);
}



.default-block-01 {
    display: block;
}

.help-page-preview-box {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
    border-left: 2px solid rgb(255, 70, 50);
}

.text-box {
    text-align: justify;
}

.table-01 {
    width: 100%;
    height: 60px;
}

.table-02 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
    text-align: left;
}

.table-03 {
    border-collapse: collapse;
    display: inline-block;
}


.message-container-style {
    box-sizing: border-box;
    text-align: center;
    display: block;
    width: 100%;
    background-color: rgba(255, 70, 50, 0.25);
}

.textarea-style-01 {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    resize: none;
}

    .textarea-style-01:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.textarea-style-02 {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 200px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    resize: none;
}

    .textarea-style-02:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }

.counter-style-01 {
    display: block;
    margin: 10px;
}

.message-style-01 {
    text-align: left;
    background-color: white;
    margin-top: 10px;
    width: 80%;
    border: 1px solid rgba(255, 70, 50, 1);
    border-radius: 10px;
}

.message-style-02 {
    text-align: left;
    background-color: rgba(255, 70, 50, 0.25);
    margin-top: 10px;
    width: 80%;
    border: 1px solid rgba(255, 70, 50, 1);
    border-radius: 10px;
    margin-left: calc(20% - 3px);
}

.message-header-style-01 {
}

.message-content-style-01 {
    text-align: justify;
    white-space: pre-wrap;
}

.conversations-container-style {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.toggle-button-class-01-off {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    height: 45px;
    width: 120px;
    background-color: rgba(255, 70, 50, 0.25);
    border: 1px solid rgba(255, 70, 50, 1);
    border-radius: 4px;
    padding-top: 11px;
    box-sizing: border-box;
    margin-right: 10px;
}

    .toggle-button-class-01-off:hover {
        cursor: pointer;
        background-color: rgb(255, 110, 90);
        color: white;
    }

.float-left-style {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.no-padding-style {
    padding: 0;
}

.announcement-preview-toggle-map-visible {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 70, 50, 0.25);
    border: 1px solid rgba(255, 70, 50, 1);
    border-radius: 4px;
    padding-top: 11px;
    box-sizing: border-box;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    text-decoration: none;
    text-align: center;
}

    .announcement-preview-toggle-map-visible:hover {
        cursor: pointer;
        background-color: rgb(255, 110, 90);
        color: white;
    }

#announcement-previews-map-container {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 20);
    height: 500px;
    background: grey;
    border-radius: 4px;
    margin: 10px;
}

.table-box-01 {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-box-02 {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-box-03 {
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.table-box-04 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.table-box-05 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 20px;
}


.table-box-row-01 > td {
}

.table-box-row-02 > td {
    background-color: rgba(200, 200, 200, 0.2);
    padding-left: 10px;
    box-sizing: border-box;
}

.table-box-row-03 {
    background-color: rgba(200, 200, 200, 0.2);
    height: 40px;
}


.table-box-cell-01 {
    margin: 0;
    padding: 0;
    width: 500px;
}

.table-box-cell-02 {
    margin: 0;
    padding: 0;
    width: 50%;
    max-height: 500px;
    overflow-y: auto;
}

.table-box-cell-03 {
    margin: 0;
    padding: 0;
    width: 500px;
}

.table-box-cell-04 {
    position: relative;
    width: 50%;
}

.table-box-cell-05 {
    padding: 0px;
}

.table-box-cell-06 {
    background-color: white;
}

.table-box-cell-07 {
    border-left: 2px solid rgb(255, 70, 50);
}

.table-box-cell-08 {
    width: 20%;
}

.table-box-cell-09 {
    padding: 0px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.table-box-cell-10 {
    vertical-align: top;
    padding: 15px;
    width: 50%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    height: 400px;
    box-sizing: border-box;
}

.table-box-cell-11 {
    position: relative;
    width: 50%;
    height: 500px;
    min-height: 500px;
}

.table-box-cell-12 {
    width: 120px;
}

.announcement-preview-images-container {
    width: 300px;
}

#announcement-previews-container {
    height: 500px;
    overflow-y: scroll;
}

#sort-filter-options-container {
    position: relative;
    display: block;
    height: 50px;
}

#announcement-map-container {
    position: absolute;
    top: 10px;
    width: calc(100% - 10px);
    height: 500px;
    border-radius: 4px;
}

.announcement-reservation-item {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 70, 50, 1);
    background-color: rgba(255, 70, 50, 0.25);
    margin-bottom: 10px;
}

.announcement-reservation-decrease-10-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 4px;
    box-sizing: border-box;
}

    .announcement-reservation-decrease-10-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.announcement-reservation-decrease-1-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 4px;
    box-sizing: border-box;
}

    .announcement-reservation-decrease-1-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.announcement-reservation-increase-1-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 4px;
    box-sizing: border-box;
}

    .announcement-reservation-increase-1-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.announcement-reservation-increase-10-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-weight: 500;
    border-radius: 4px;
    box-sizing: border-box;
}

    .announcement-reservation-increase-10-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.announcement-reservation-remove-button {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    width: 100px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 70, 50);
    background-color: rgba(255, 70, 50, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 4px;
    box-sizing: border-box;
}

    .announcement-reservation-remove-button:hover {
        background-color: rgb(255, 110, 90);
        color: white;
        cursor: pointer;
    }

.announcement-reservation-input-field {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    box-sizing: border-box;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255, 70, 50);
    border-radius: 4px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

    .announcement-reservation-input-field:focus {
        outline: none;
        box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
    }


.error-span-label-box-01 {
    margin-left: 10px;
    color: rgba(255, 50, 30, 1);
}

.announcement-review-style {
    border-left: 2px solid rgba(255, 70, 50, 1);
    padding: 10px;
    margin-bottom: 10px;
}

.announcement-review-rating-container {
    font-weight: bold;
}

.announcement-review-date-container {
    font-weight: bold;
}

.announcement-review-name-container {
    font-weight: bold;
}

.announcement-review-message-container {
    margin-left: 5px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 70, 50, 1);
}

#show-res-view-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.block-01 {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-02 {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 214px;
}

.block-03 {
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 10px;
}

.block-04 {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
}

.block-05 {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(200, 200, 200, 0.2);
    border-left: 2px solid rgb(255, 70, 50);
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

    .block-05:hover {
        background-color: rgba(50, 50, 50, 0.25);
        color: rgb(50,50,50);
        cursor: pointer;
    }


.block-05-disabled {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-left: 2px solid rgb(255, 70, 50);
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    background-color: rgba(255, 70, 50, 0.66);
    color: white;
}

.block-06 {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: calc(100% - 35px);
}

.block-07 {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.block-08 {
    text-align: left;
    display: block;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.block-09 {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: calc(100% - 95px);
}

.image-input-box-01 {
    text-align: center;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding-top: 11px;
    height: 45px;
    width: 300px;
    box-sizing: border-box;
    background-color: rgba(255, 70, 50, 1);
    color: white;
    overflow: hidden;
}

    .image-input-box-01:hover {
        cursor: pointer;
        background-color: rgba(255, 70, 50, 0.25);
        color: rgb(50,50,50);
    }


.image-input-span {
}

.image-input-ico-01 {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 30px;
}

.images-container-01 {
    text-align: left;
}

input[type="file"] {
    display: none;
}

.image-preview-01 {
    border-radius: 4px;
    max-height: 150px;
    margin-bottom: 5px;
}


.details-item-username {
    font-weight: 600;
}

.details-item-first-name {
    font-weight: 600;
}

.details-item-last-name {
    font-weight: 600;
}


.hourly-timetable-schedule-item-from {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 70, 50, 1);
}

.hourly-timetable-schedule-item-to {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 70, 50, 1);
}

.hourly-timetable-schedule-item-reservations {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 70, 50, 1);
}
