@model BedAndBreakfast.Models.EditUserContextViewModel

@{
    ViewData["Title"] = "EditUser";
    string option = (string)ViewData["option"];
    ViewData["currentUser"] = Model.UserName;
}

<div style="text-align:center;">



	<div class="view-box-01">
		<p class="indent-01 text-segue-18">Edit user</p>
		<hr />
		<p class="error-span-label-box-01 text-segue-16">@ViewBag.Message</p>
		<table style="text-align:left;">
			<tr>
				<td><label class="label-box-07 text-segue-16">Username</label></td>
				<td><input asp-for="UserName" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="FirstName" class="label-box-07 text-segue-16"></label></td>
				<td><input asp-for="FirstName" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="LastName" class="label-box-07 text-segue-16"></label></td>
				<td><input asp-for="LastName" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="Gender" class="label-box-07 text-segue-16"></label></td>
				<td><input asp-for="Gender" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="BirthDate" class="label-box-07 text-segue-16"></label></td>
				<td><input asp-for="BirthDate" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="FullAddress" class="label-box-07 text-segue-16"></label></td>
				<td><input asp-for="FullAddress" class="input-box-02 text-segue-16" readonly /></td>
			</tr>
			<tr>
				<td><label asp-for="IsLocked" class="label-box-07 text-segue-16"></label></td>
				<td style="text-align:left;"><input asp-for="IsLocked" disabled /></td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="table-box-cell-05"><a asp-action="EditUser" class="text-segue-14 button-04" style="margin-left:0px; margin-right:10px;" asp-route-user="@Model.UserName" asp-route-option="Username">Change Username</a></td>
				<td class="table-box-cell-05"><a asp-action="EditUser" class="text-segue-14 button-04" style="margin-left:0px; margin-right:10px;" asp-route-user="@Model.UserName" asp-route-option="Security">Change Password</a></td>
				<td class="table-box-cell-05"><a asp-action="EditUser" class="text-segue-14 button-04" style="margin-left:0px; margin-right:10px;" asp-route-user="@Model.UserName" asp-route-option="Status">Change Status</a></td>
			</tr>
		</table>




		@if (option == null)
		{
			<partial name="EditOptions/Username" model="new BedAndBreakfast.Models.EditUserViewModel();" view-data="ViewData" />
		}
		else
		{
			<partial name="EditOptions/@option" model="new BedAndBreakfast.Models.EditUserViewModel();" view-data="ViewData" />
		}

	</div>
</div>