
@{
    ViewData["Title"] = "ManageConversations";
}
<script type="text/javascript" src="~/js/messageSystem.js"></script>
<script type="text/javascript" src="~/js/manageConversations.js"></script>
<script type="text/javascript">
    window.onload = function () {
        handleSearchClicked();
    }
</script>



<div style="text-align: center;">
    <div class="view-box-03">
        <p class="indent-01 text-segue-18">Conversation creator</p>
        <hr />

        <div id="global-message-container" class="error-span-label-box-01 text-segue-16"></div>
        <table class="table-box-05">
            <tr>
                <td class="table-box-cell-10">
                    <p class="indent-07 text-segue-16">Receivers</p>

                    <div class="block-06" id="receivers-list-container"></div>
                </td>
                <td class="table-box-cell-10">

                    <p class="indent-07 text-segue-16">Receivers browser</p>
                    <div class="block-01">
                        <input class="input-box-02 text-segue-16" id="search-query-input-field" type="text" />
                        <button class="button-12 text-segue-14" onclick="handleSearchClicked();">Search</button>
                    </div>
                    <div class="block-06" id="users-list-container"></div>
                </td>
            </tr>
            <tr>
                <td id="message-creator-container" style="text-align:left;" colspan="2">
                    <div class="block-01">
                        <label class="label-box-01 text-segue-16">Conversation title: </label>
                        <input class="input-box-02 text-segue-16" id="title-input-field" type="text" size="50" />
                    </div>
                    <div class="block-01">
                        <label class="label-box-01 text-segue-16">Message content: </label>
                    </div>
                    <textarea class="textarea-style-01 text-segue-16" spellcheck="false" id="message-textarea"></textarea>
                    <div class="block-01">
                        <label class="label-box-01 text-segue-16">Message read only: </label>
                        <input id="readonly-checkbox" type="checkbox" checked>
                    </div>
                    <button class="text-segue-14 button-01" onclick="handleSendClicked();">Send</button>
                </td>
            </tr>
        </table>
    </div>
</div>