@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
</head>

<body>

    <div id="searchbar_div">
        <div id="hello_text">WELCOME HOME</div>
        <div id="under_text">Rent unique places to stay from local hosts!</div>

            @*Announcement browser*@
            <div id="where_div">
                <form asp-controller="Announcement" class= "where_div" asp-action="Browse">
                    <input id="ann-browser-qry-in-fld" type="text" name="annBrowserQuery" /> 
                    <input id="ann-browser-qry-button" type="submit" value="Search" /><
                </form>
            </div>
    </div>
</body>

