@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="browser-box">
        <p class="indent-01 text-segue-18">WELCOME HOME</p>
        <p class="indent-01 text-segue-16">Rent unique places to stay from local hosts!</p>

        <div>
            <form asp-controller="Announcement" class="where_div" asp-action="Browse">
                <input class="input-box-01 text-segue-16" type="text" name="announcementBrowserQuery" placeholder="Australia, Victoria Melbourne, Albert Park"/>
                <br />
                <input class="button-01 text-segue-14" type="submit" value="Search" />
            </form>
        </div>
    </div>
</body>