@model BedAndBreakfast.Models.EditUserViewModel

@{
	ViewData["Title"] = "Security";
}

<form asp-action="EditSecurity">
	<input asp-for="UserName" value="@ViewData["currentUser"]" type="hidden" />
	<table>
		<tr>
			<td><label asp-for="NewPassword" class="label-box-01 text-segue-16"></label></td>
			<td><input asp-for="NewPassword" class="input-box-02 text-segue-16" /></td>
			<td><span asp-validation-for="NewPassword" class="error-span-label-box-01 text-segue-16"></span></td>
		</tr>
		<tr>
			<td><label class="label-box-01 text-segue-16">Repeat password</label></td>
			<td><input asp-for="RepeatNewPassword" class="input-box-02 text-segue-16" /></td>
			<td><span asp-validation-for="RepeatNewPassword" class="error-span-label-box-01 text-segue-16"></span></td>
		</tr>
	</table>

	<input type="submit" value="Change" class="button-01 text-segue-14" />
</form>
