@model BedAndBreakfast.Models.EditUserViewModel

@{
	ViewData["Title"] = "Status";
}


<form asp-action="EditStatus">
	<input asp-for="UserName" value="@ViewData["currentUser"]" type="hidden" />
	<table style="text-align:left;">
		<tr>
			<td><label asp-for="IsLocked" class="label-box-07 text-segue-16"></label></td>
			<td><input asp-for="IsLocked" value="true" checked="@Model.IsLocked" /></td>
		</tr>
	</table>
	
	

	<input type="submit" value="Change" class="button-01 text-segue-14" />

</form>
