@model BedAndBreakfast.Models.EditUserViewModel

@{
    ViewData["Title"] = "Status";
}


<form asp-action="EditStatus">
    <input asp-for="UserName" value="@ViewData["currentUser"]" type="hidden" />

    <label asp-for="IsLocked" class="edit_box_bar_ed"></label>
    <input asp-for="IsLocked" value="true" checked="@Model.IsLocked" style="margin-top: 30px; margin-left: 12px;" />
    <div style="clear:both;"></div>
    <div class="edit_box_pr">
        <input type="submit" value="Change" class="my_button" id="save_button" />
    </div>
</form>
